name: twitch_manager
description: This is a manager to the Twitch API.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: '>=3.4.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.2.2
  url_launcher: ^6.3.0
  web_socket_client: ^0.2.1
  flutter_secure_storage: ^10.0.0-beta.4
  logging: ^1.2.0
  dart_jsonwebtoken: ^3.3.1
  intl: ^0.20.2
  sqlite3: ^2.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
